.atc-btn__wrapper--outer {
  width: calc(100% - 40px);
  position: relative;
  .atcbtn__counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #358ed7;
    background: #ffffff;
    height: 10px;
    width: 10px;
    @include flex-box(null, null, center, center);
    border: 1px solid #444a59;
    border-radius: 50%;
    padding: 5px;
    margin: -5px -5px 0 0;
  }

  .ATC__button-wrapper {
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 100px;
    background-color: #ffffff;
    cursor: pointer;
    transition: 0.3s border, 0.3s color, 0.3s background-color;
    padding: 13px;
    font-family: lato-bold, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.39px;

    &:hover {
      border: 1px solid #444a59;
      color: #ffffff;
      background-color: #444a59;
    }
  }
}
