.item-card-wrapper {
  @include flex-box(column, null, flex-start, center);
  background: #fff;
  margin: 30px 0;
  width: 30%;
  height: 625px;
  overflow: hidden;
  font-family: lato_regular, sans-serif;
  position: relative;

  .item-card__wrapper-top {
    padding: 0px 40px 0px;
    font-size: 14px;
    letter-spacing: 2.33px;
    color: #444a59;
    text-align: center;

    img {
      padding: 20px 0;
      width: 100%;
    }

    h3 {
      padding-bottom: 20px;
      line-height: 18px;
      letter-spacing: 1.37px;
      text-transform: uppercase;
      font-family: lato_bold, sans-serif;
    }

    p {
      padding-bottom: 10px;
      font-size: 12px;
      line-height: 19px;
      letter-spacing: 0.43px;
      color: #808080;
      font-family: lato_regular, sans-serif;
    }
  }

  .item-card__wrapper-bottom {
    @include flex-box(column, null, flex-end, center);
    color: #444a59;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;

    .price-wrapper {
      @include flex-box(row, null, center, center);
      width: 100%;
      padding-bottom: 10px;

      .price {
        color: #808080;
      }
      .strike {
        text-decoration: line-through;
        color: red;
      }

      h5 {
        margin: 10px 5px;
      }
    }
  }
}

@include tab-1024 {
  .item-card-wrapper {
    width: 40%;
    height: 615px;
  }
}

@media (max-width: 768px) {
  .item-card-wrapper {
    width: 40%;
    height: 570px;
    padding: 0px;
    .item-card__wrapper-top {
      padding: 0;
      img {
        padding: 0;
      }
      h3 {
        padding: 10px 20px;
      }
    }
  }
}

@media (max-width: 668px) {
  .item-card-wrapper {
    width: 100%;
  }
}
