@import "~reset-css/sass/reset";

// helpers
@import "./styles/functions/functions";
@import "./styles/mixins/mixins";
@import "./styles/mixins/typography";
@import "./styles/variables/variables";

// components
@import "./components/header/Header.scss";
@import "./components/bagIcon/BagIcon.scss";
@import "./components/favoriteIcon/FavoriteIcon.scss";

body {
  background-color: rgb(248, 248, 248);
}
