@import "~reset-css/sass/reset";

// helpers
@import "./styles/functions/functions";
@import "./styles/mixins/mixins";
@import "./styles/mixins/typography";
@import "./styles/variables/variables";

// components
@import "./components/header/Header.scss";
@import "./components/bagIcon/BagIcon.scss";
@import "./components/favoriteIcon/FavoriteIcon.scss";
@import "./components/pagination/Pagination.scss";
@import "./components/posts/Posts.scss";
@import "./components/post/Post.scss";
@import "./components/atcButton/AtcButton.scss";
@import "./components/atfButton/AtfButton.scss";

body {
  background-color: rgb(248, 248, 248);
}

// BASE SCROLLBAR STYLE
.ScrollbarsCustom {
  position: relative;
  width: 100%;
}

.ScrollbarsCustom-Wrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 10px;
  overflow: hidden;
  margin: 0 10px;
}

.ScrollbarsCustom-Scroller {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden scroll;
}

.ScrollbarsCustom-Track {
  position: absolute;
  overflow: hidden;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  width: 3px;
  height: 80%;
  margin: auto 0;
  top: 0;
  bottom: 0;
  right: 0px;
}

.ScrollbarsCustom-Thumb {
  touch-action: none;
  cursor: pointer;
  border-radius: 4px;
  background: rgb(150, 149, 149);
  width: 100%;
  height: 639.091px;
  transform: translateY(0px);
}

// LOADER
.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @include flex-box(null, null, center, center);
}
